@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-family: "DM Sans", "Inter", sans-serif;
  content-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
  color: #393939;
}

a {
  /* color: #393939; */
}
.rect {
  /* background: #008000; */
  /* mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  position: absolute;
  width: 100%;
  height: 100%;
}
.h-viewheight {
  height: calc(100vh - 83px);
}

.lgreen {
  color: #008000;
}

.text-lgreen {
  color: #008000;
}

.darkgrey {
  color: #393939;
}

.border-bt {
  border-bottom: #3e7307 2px solid;
}

.top {
  padding: 0.6rem;
  background-color: #dcefb5;
  /* color: #393939; */
  width: max-content;
  border-radius: 5px;
}

.bg-lgreen {
  background-color: #008000;
}

.hover-bg-lgreen:hover {
  background-color: #008000;
}

.hover-bd-lgreen:hover {
  border-color: #008000;
}

.bd-lgreen {
  border-color: #008000;
}

.footer {
  background-color: #008000;
}
.gButton {
  background-color: #008000;
}
.gButton:hover {
  border: 0.1px solid #008000;
  color: #008000;
  background-color: white;
  border-style: solid;
  border-block-color: #008000;
  border-width: 0.15rem;
}
.BG1 {
  /* background-image: url(../assets/BG1.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.BG-lgreen {
  background: #ebfbeb;
}

.grad-lgreen {
  background-image: linear-gradient(to bottom right, #e7f8e5, white);
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.min-wid {
  width: max-content;
}

.forestBG {
  background-image: url("/assets/company\ forest.png");
  background-size: cover;
  min-height: 65vh;
  background-repeat: no-repeat;
}

.hypeBG {
  background-image: url("/assets/GetInvolved/Ambassadors/hype-bg.png");
  background-size: contain;
  background-color: #393939;
  background-blend-mode: multiply;
  background-position: center;

  min-height: 65vh;
  background-repeat: no-repeat;
}

.card {
  box-shadow: 0px 2px 17px rgba(163, 163, 163, 0.12);
  border-radius: 30px;
}

.main-page {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.form {
  padding: 4rem 0;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 45rem;
}
.form__legend {
  text-align: center;
  padding: 0 0.5rem;
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__group {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.form__input {
  display: block;
  width: 100%;
  max-width: 45rem;
  background-color: #eef5f3;
  border: none;
  outline: none;
  height: 5rem;
  border-radius: 2rem;
  padding: 0 1.5rem;
  transition: background 0.3s;
  color: #88908e;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.form__input-half {
  display: block;
  width: 100%;
}
.form__input-checkbox:checked {
  filter: invert(100%) hue-rotate(118deg) brightness(1.2);
}
.form__input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  opacity: 0.75;
}
.form__input:focus,
.form__inputactive {
  background: #ffffff;
  border: 1px solid #e1eae7;
}

.switch {
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.bg-login {
  background-image: url("/assets/login.png");
  background-size: contain;
  background-color: #393939;
  background-blend-mode: multiply;
  background-position: center;
}

.bg-signup {
  background-image: url("/assets/signup.png");
  background-size: contain;
  background-color: #393939;
  background-blend-mode: multiply;
  background-position: center;
}
.switch__header {
  margin-bottom: 4rem;
}
.switch__text-container {
  text-align: center;
}

.login,
.signup {
  display: flex;
  opacity: 1;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 1rem 2rem;
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.login__header,
.signup__header {
  margin-bottom: 0;
}
.login__byline,
.signup__byline {
  margin-bottom: 4rem;
}

.social-media__container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.social-media__icon:not(:last-child) {
  margin-right: 1rem;
}

.header {
  text-align: center;
  font-weight: 200;
}

.icon {
  cursor: pointer;
}

.btn {
  width: 23.5rem;
  min-height: 5.5rem;
  background-color: #008000;
  border-radius: 3rem;
  outline: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  text-align: center;
  margin: 3.2rem 0;
  transition: 0.3s;
}
.btn:hover,
.btn:active {
  background-color: #009a00;
}
.btn-white {
  background-color: #ffffff;
  color: black;
  box-shadow: 0 12px 24px rgba(34, 51, 49, 0.13);
}
.btn-white:hover,
.btn-white:active {
  background-color: #ffffff;
  color: #008000;
  box-shadow: none;
}

.hide-view {
  opacity: 0;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 0.000001;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.signup.hide-view {
  transform: translateX(-50vw);
}

.login.hide-view {
  transform: translateX(50vw);
}

.smooth {
  transition: transform 0.3s linear, opacity 0.3s ease-in-out,
    flex-grow 0.9s cubic-bezier(0.19, 1, 0.22, 1);
}
