.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
  content-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}

.footer{
  background-color: #008000;
}
.gButton{
  background-color: #028000;
  border: 0.1px solid #008000;
  justify-content: center;
  align-items: center;
}